<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_tag("/users/create") do %>
            <p>ペンネーム</p>
            <input name="name" value="<%= @user.name %>">
            <p>メールアドレス</p>
            <input name="email" value="<%= @user.email %>">
            <p>パスワード</p>
          <input name="password" type="password" value="<%= @user.password %>">
          <p>性別</p>
          <%= form_for(@user, url:{controller:'users',action:'new'}) do |f| %>
            <label><%= f.radio_button :gender, "男"%>男</label>

          <!-- input name="gender" type="radio" value="">男性
          <input name="gender" type="radio" value="">女性
          <input name="gender" type="radio" value="">その他 -->
          <input type="submit" value="アカウント作成">

          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
