<!DOCTYPE html>
<html>
  <head>
    <title>MilkyWay!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("MilkyWay!", "/posts/index") %>
        <% else %>
          <%= link_to("MilkyWay!", "/") %>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
        <p>
        <label>
          <input type="search" name="" value="" placeholder="検索">
          <button type="submit">
             <i class="fas fa-search"></i> 検索
           </button>
        </p>
        </label>
        <li>
          <img src="<%= "/user_images/#{@current_user.image_name}" %>">
          <%= link_to("#{@current_user.name}さん","/users/#{@current_user.id}") %>
        </li>
        <li>
          <%= link_to("作品投稿", "/posts/new") %>
        </li>
        <li>
          <%= link_to("作品管理", "/users/#{@current_user.id}") %>
        </li>
        <li>
          <%= link_to("お気に入り", "/users/#{@current_user.id}/likes") %>
        </li>
        <li>
          <%= link_to("新着投稿一覧", "/posts/index") %>
        </li>
      <% else %>
        <p>
          <!-- <input type="text" name="" value="" placeholder="検索">
          <button type="submit"> -->

  	         <!-- <i class="fas fa-search"></i> 検索 -->
           <!-- </button> -->

           
        </p>
        <li>
          <%= link_to("MilkyWay!使い方", "/about") %>
        </li>
        <li>
          <%= link_to("アカウント新規作成", "/signup") %>
        </li>
        <li>
          <%= link_to("ログイン", "/login") %>
        </li>
      <% end %>
    </ul>
    </header>
    <% if flash[:notice]%>
    <div class="flash">
      <%= flash[:notice]%>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
